In [1]:
import pandas as pd

In [2]:
# Chargement des données
train_data = pd.read_csv("C://Users//hp//AppData//Roaming//Microsoft\Windows\Start Menu//Programs//Anaconda3 (32-bit)//bac-mauritanie-2022-predictive-modeling-challeng//train_set.csv")
test_data = pd.read_csv("C://Users//hp//AppData//Roaming//Microsoft\Windows\Start Menu//Programs//Anaconda3 (32-bit)//bac-mauritanie-2022-predictive-modeling-challeng//test_set.csv", sep=';')

In [3]:
train_data.head()

,Unnamed: 0,Nom,"Serie,x",GroupeAnonymat,LieuNaissance,Centre,Etablissement,moyeneGeneral,Decision,Note1,...,Note3,Note4,Note5,Note6,Note7,Note8,Willaya,moughataa,DateNaissance,ID
0,27634,El Ide Brahim M'Hadi,SN,SN09,Bathet meit,Lycée Jedida,Lycée Jedida,4.601562,Ajourné,1.625,...,5.00,5.500,3.00,7.75,7.50,18.5,Nouakchott 2 (Ouest),KSAR,12 ديسمبر 1998,ID_27634
1,36311,Mariem Yedaly Afane,LO,LO1,Beir Taouress,Lycée Arafat 2 (A),Lycée Arafat 2,7.625000,Ajourné,13.000,...,10.75,2.000,8.75,2.00,0.75,-1.0,Nouakchott 3 (Sud),ARAFAT,26 ديسمبر 1991,ID_36311
2,21059,Aiche Jiyid Jiyid,LM,LM3,Akjoujt,Lycée Akjoujt,Lycée Akjoujt,6.894531,Ajourné,7.000,...,6.50,7.625,1.00,5.50,10.00,17.0,Inchiri,AKJOUJT,8 مايو 1995,ID_21059
3,24532,Ahmed Abd El Ghader Meissa,SN,SN06,Chelkhet Tiyab,Lycée Toujounine 1,Lycée Toujounine 1,4.859375,Ajourné,1.750,...,5.50,5.500,5.00,1.50,7.50,17.0,Nouakchott 1 (Nord),TOUJOUNINE,24 avr. 1999,ID_24532
4,17861,Mariam Abdoulaye Ba,SN,SN03,Aere M'Bar,Lycée Nouadhibou 2,Lycée Wava Nouadhibou,3.548387,Ajourné,4.500,...,3.50,4.000,4.00,2.00,2.00,-1.0,Dakhlet NDB,NOUADHIBOU,10 mai 2001,ID_17861

In [4]:
train_data.Decision.value_counts()

Ajourné                                  18966
Admis                                     1973
Sessionnaire                              1530
Abscent                                   1068
Examen annulé à cause du Téléphone         351
Examen annulé à cause du comportement        6
Name: Decision, dtype: int64

In [5]:
# remplacer les modalité qui implique que le condidat est ajourné dans le session normale par le modalité ajourné

train_data['Decision'] = train_data['Decision'].replace({'Sessionnaire': 'Ajourné', "Abscent" : "Ajourné","Examen annulé à cause du Téléphone":"Ajourné","Examen annulé à cause du comportement":"Ajourné"})

In [6]:
##nettoyer la colonne age 
train_data['age'] = train_data['DateNaissance'].apply(  
    lambda x: int(x.split("-")[2] if '-' in x else int(x.split(" ")[2]) )
    ).apply(lambda x : 2021 - x if x > 1900  else ( 121 - x if x > 21 else 21 - x))

In [7]:
train_data.shape

(23894, 22)

In [8]:
test_data.shape

(15930, 12)

In [9]:
test_data.fillna(0, inplace=True)

In [10]:
# importer une data frame qui indique la pauvreter a mauritanie pour m'aider bien a expliquer l'admission aux bac 

df_pauv= pd.read_csv("C://Users//hp//AppData//Roaming//Microsoft//Windows//Start Menu//Programs//Anaconda3 (32-bit)//dataset.csv",sep =";")

In [11]:
df_pauv.head()

  moughataa           willaya    p0   p1_   p2_  c0_  c1_  c2_
0     Aioun    Hodh el Gharbi  41.5  11.4   4.5  3.6  2.9  2.4
1   Akjoujt           Inchiri  19.6   5.8   2.0  0.2  0.1  0.1
2      Aleg            Brakna  48.5  20.4  11.6  4.9  6.1  7.3
3    Amourj  Hodh ech Chargui  59.1  22.6  11.4  3.8  4.3  4.5
4   Aoujeft             Adrar  59.1  22.6  11.4  3.8  4.3  4.5

In [12]:
## on a entraint d obtenir l'indice de povreté par wilya

data_wilya = df_pauv[["willaya","p0","p1_","p2_"]]

In [13]:
## approche d'indice de pauvrete
data_wilya["Pauvreté"] =  data_wilya.mean(axis=1)

C:\Users\hp\AppData\Local\Temp\ipykernel_8724\137976583.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data_wilya["Pauvreté"] =  data_wilya.mean(axis=1)
C:\Users\hp\AppData\Local\Temp\ipykernel_8724\137976583.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_wilya["Pauvreté"] =  data_wilya.mean(axis=1)

In [14]:
data_wilya = data_wilya.groupby("willaya" ,as_index=False).mean()

In [15]:
## induce de pauvrete
data_wilya.head()

              willaya         p0    p1_        p2_   Pauvreté
0               Adrar  58.166667  21.70  10.533333  30.133333
1              Assaba  48.560000  16.84   7.960000  24.453333
2              Brakna  54.980000  20.00   9.760000  28.246667
3  Dakhlet Nouadhibou  12.400000   2.50   0.600000   5.166667
4              Gorgol  59.875000  21.55  10.475000  30.633333

In [16]:
data_wilya["willaya"].unique()

array(['Adrar', 'Assaba', 'Brakna', 'Dakhlet Nouadhibou', 'Gorgol',
       'Guidimaka', 'Hodh ech Chargui', 'Hodh el Gharbi', 'Inchiri',
       'Nouakchott', 'Tagant', 'Tiris Zemmour', 'Trarza'], dtype=object)

In [17]:
##dupliquer la colonne willaya dans data train pour faire une chose va m'aider par suite
train_data = train_data.assign(willaya=train_data['Willaya'])

In [18]:
# Créer une liste des modalités a meme nom que celle dans df_pauvrete
modalites_a_remplacer = ['Nouakchott 1 (Nord)', 'Nouakchott 2 (Ouest)', 'Nouakchott 3 (Sud)']
modalites_a_remplacer2 = ["Dakhlet NDB"]
modalites_a_remplacer3=["Hod Charghy"]
modalites_a_remplacer4=["Hod Gharby"]
modalites_a_remplacer5=["Guidimagha"]
# Remplacer les modalités spécifiées par "nktt" et faire les autres modalités
train_data["willaya"] = train_data["willaya"].replace(modalites_a_remplacer, 'Nouakchott')
train_data["willaya"] = train_data["willaya"].replace(modalites_a_remplacer2, 'Dakhlet Nouadhibou')
train_data["willaya"] = train_data["willaya"].replace(modalites_a_remplacer3, 'Hodh el Gharbi')
train_data["willaya"] = train_data["willaya"].replace(modalites_a_remplacer4, 'Hodh ech Chargui')
train_data["willaya"] = train_data["willaya"].replace(modalites_a_remplacer5, 'Guidimaka')
modalites_a_remplacer5=["Tiris Zemour"]
train_data["willaya"] = train_data["willaya"].replace(modalites_a_remplacer5, 'Tiris Zemmour')

In [19]:
# Fusionner les deux dataframes pauvreter et data_train sur la variable en commun "wilaya"
train_data1 = pd.merge(train_data, data_wilya, on='willaya')

# Afficher le nouveau dataframe avec la colonne "indice_pauvrete"
train_data1.head()

,Unnamed: 0,Nom,"Serie,x",GroupeAnonymat,LieuNaissance,Centre,Etablissement,moyeneGeneral,Decision,Note1,...,Willaya,moughataa,DateNaissance,ID,age,willaya,p0,p1_,p2_,Pauvreté
0,27634,El Ide Brahim M'Hadi,SN,SN09,Bathet meit,Lycée Jedida,Lycée Jedida,4.601562,Ajourné,1.625,...,Nouakchott 2 (Ouest),KSAR,12 ديسمبر 1998,ID_27634,23,Nouakchott,10.69,2.31,0.77,4.59
1,36311,Mariem Yedaly Afane,LO,LO1,Beir Taouress,Lycée Arafat 2 (A),Lycée Arafat 2,7.625000,Ajourné,13.000,...,Nouakchott 3 (Sud),ARAFAT,26 ديسمبر 1991,ID_36311,30,Nouakchott,10.69,2.31,0.77,4.59
2,24532,Ahmed Abd El Ghader Meissa,SN,SN06,Chelkhet Tiyab,Lycée Toujounine 1,Lycée Toujounine 1,4.859375,Ajourné,1.750,...,Nouakchott 1 (Nord),TOUJOUNINE,24 avr. 1999,ID_24532,22,Nouakchott,10.69,2.31,0.77,4.59
3,34064,Mohamed Alioun Mohamed Lemine,LM,LM4,Riyad,Ecole Sidi Abdoullah-Arafat,El Amriya,10.713542,Admis,13.500,...,Nouakchott 3 (Sud),ARAFAT,24 ديسمبر 2000,ID_34064,21,Nouakchott,10.69,2.31,0.77,4.59
4,26060,Lalty Lalty N'Gome,M,M02,Rosso,Ecole Youssouf Dar Naim,Lycée Dar Naim 1,5.132812,Ajourné,1.750,...,Nouakchott 1 (Nord),DAR NAIM,4 avr. 2000,ID_26060,21,Nouakchott,10.69,2.31,0.77,4.59

In [20]:
train_data1.shape

(23894, 27)

In [21]:
# import numpy as np
# # Créer une colonne pour la richesse relative de chaque wilaya
# train_data1['richesse_relative'] = np.where(train_data1['Pauvreté'] < 4, 'très riche',
#                         np.where(train_data1['Pauvreté'] < 10, 'riche',
#                         np.where(train_data1['Pauvreté'] < 21, 'moyenne',
#                         np.where(train_data1['Pauvreté'] < 40, 'pauvre', 'très pauvre'))))

In [23]:
##nettoyer l'age pour le data test
test_data['age'] = test_data['DateNaissance'].apply(  
    lambda x: int(x.split("-")[2] if '-' in x else int(x.split(" ")[2]) )
    ).apply(lambda x : 2021 - x if x > 1900  else ( 121 - x if x > 21 else 21 - x))

In [24]:
## faire le meme precedent pour test_data
test_data = test_data.assign(willaya=test_data['Willaya'])

# Créer une liste des modalités à remplacer
modalites_a_remplacer = ['Nouakchott 1 (Nord)', 'Nouakchott 2 (Ouest)', 'Nouakchott 3 (Sud)']
modalites_a_remplacer2 = ["Dakhlet NDB"]
modalites_a_remplacer3=["Hod Charghy"]
modalites_a_remplacer4=["Hod Gharby"]
modalites_a_remplacer5=["Guidimagha"]
# Remplacer les modalités spécifiées par "nktt" et conserver les autres modalités
test_data["willaya"] = test_data["willaya"].replace(modalites_a_remplacer, 'Nouakchott')
test_data["willaya"] = test_data["willaya"].replace(modalites_a_remplacer2, 'Dakhlet Nouadhibou')
test_data["willaya"] = test_data["willaya"].replace(modalites_a_remplacer3, 'Hodh el Gharbi')
test_data["willaya"] = test_data["willaya"].replace(modalites_a_remplacer4, 'Hodh ech Chargui')
test_data["willaya"] = test_data["willaya"].replace(modalites_a_remplacer5, 'Guidimaka')
modalites_a_remplacer5=["Tiris Zemour"]
test_data["willaya"] = test_data["willaya"].replace(modalites_a_remplacer5, 'Tiris Zemmour')

test_data1 = pd.merge(test_data, data_wilya, on='willaya')

test_data1.shape

(15930, 18)

In [25]:
test_data1.head()

,Unnamed: 0,Nom,"Serie,x",GroupeAnonymat,LieuNaissance,Centre,Etablissement,Willaya,moughataa,DateNaissance,ID,prediction,age,willaya,p0,p1_,p2_,Pauvreté
0,6,Mohamed Hama Ahmed Lely,SN,SN09,Vassala,Lycée Vassala,Lycée Vassala,Hod Charghy,BASSEKNOU,15 يوليو 2001,ID_6,0.0,20,Hodh el Gharbi,42.325,13.225,5.775,20.441667
1,15,Fatimatou Mohamed Sid Abbe,SN,SN09,Vassala,Lycée Vassala,Lycée Vassala,Hod Charghy,BASSEKNOU,12 août 1999,ID_15,0.0,22,Hodh el Gharbi,42.325,13.225,5.775,20.441667
2,18,El Alye Cheikh Ahmed Maihmatt,SN,SN09,Vassala,Lycée Vassala,Lycée Vassala,Hod Charghy,BASSEKNOU,18 sept. 1999,ID_18,0.0,22,Hodh el Gharbi,42.325,13.225,5.775,20.441667
3,19,Haine Mohamed Lemin Telba,SN,SN09,Vassala,Lycée Vassala,Lycée Vassala,Hod Charghy,BASSEKNOU,24 août 1998,ID_19,0.0,23,Hodh el Gharbi,42.325,13.225,5.775,20.441667
4,20,Aichata Sid'Ahmed Ahmed Ely,SN,SN09,El Megve,Lycée Vassala,Lycée Vassala,Hod Charghy,BASSEKNOU,31-mai-95,ID_20,0.0,26,Hodh el Gharbi,42.325,13.225,5.775,20.441667

In [26]:
var_categorielle= ['Serie,x', 'GroupeAnonymat','LieuNaissance','Centre',"Etablissement","Willaya",'moughataa',"age","Pauvreté"]
target = 'Decision'

In [27]:
test_data1.columns

Index(['Unnamed: 0', 'Nom', 'Serie,x', 'GroupeAnonymat', 'LieuNaissance',
       'Centre', 'Etablissement', 'Willaya', 'moughataa', 'DateNaissance',
       'ID', 'prediction', 'age', 'willaya', 'p0', 'p1_', 'p2_', 'Pauvreté'],
      dtype='object')

In [28]:
train_data1.columns

Index(['Unnamed: 0', 'Nom', 'Serie,x', 'GroupeAnonymat', 'LieuNaissance',
       'Centre', 'Etablissement', 'moyeneGeneral', 'Decision', 'Note1',
       'Note2', 'Note3', 'Note4', 'Note5', 'Note6', 'Note7', 'Note8',
       'Willaya', 'moughataa', 'DateNaissance', 'ID', 'age', 'willaya', 'p0',
       'p1_', 'p2_', 'Pauvreté'],
      dtype='object')

In [31]:
all_data1 = pd.concat([train_data1[var_categorielle], test_data1[var_categorielle]], axis=0)
all_data1.head()

,"Serie,x",GroupeAnonymat,LieuNaissance,Centre,Etablissement,Willaya,moughataa,age,Pauvreté
0,SN,SN09,Bathet meit,Lycée Jedida,Lycée Jedida,Nouakchott 2 (Ouest),KSAR,23,4.59
1,LO,LO1,Beir Taouress,Lycée Arafat 2 (A),Lycée Arafat 2,Nouakchott 3 (Sud),ARAFAT,30,4.59
2,SN,SN06,Chelkhet Tiyab,Lycée Toujounine 1,Lycée Toujounine 1,Nouakchott 1 (Nord),TOUJOUNINE,22,4.59
3,LM,LM4,Riyad,Ecole Sidi Abdoullah-Arafat,El Amriya,Nouakchott 3 (Sud),ARAFAT,21,4.59
4,M,M02,Rosso,Ecole Youssouf Dar Naim,Lycée Dar Naim 1,Nouakchott 1 (Nord),DAR NAIM,21,4.59

In [32]:
y_train = train_data1[target]

In [33]:
train_data1[var_categorielle].head()

,"Serie,x",GroupeAnonymat,LieuNaissance,Centre,Etablissement,Willaya,moughataa,age,Pauvreté
0,SN,SN09,Bathet meit,Lycée Jedida,Lycée Jedida,Nouakchott 2 (Ouest),KSAR,23,4.59
1,LO,LO1,Beir Taouress,Lycée Arafat 2 (A),Lycée Arafat 2,Nouakchott 3 (Sud),ARAFAT,30,4.59
2,SN,SN06,Chelkhet Tiyab,Lycée Toujounine 1,Lycée Toujounine 1,Nouakchott 1 (Nord),TOUJOUNINE,22,4.59
3,LM,LM4,Riyad,Ecole Sidi Abdoullah-Arafat,El Amriya,Nouakchott 3 (Sud),ARAFAT,21,4.59
4,M,M02,Rosso,Ecole Youssouf Dar Naim,Lycée Dar Naim 1,Nouakchott 1 (Nord),DAR NAIM,21,4.59

In [35]:
train_data1[var_categorielle].dtypes

Serie,x            object
GroupeAnonymat     object
LieuNaissance      object
Centre             object
Etablissement      object
Willaya            object
moughataa          object
age                 int64
Pauvreté          float64
dtype: object

In [36]:
from sklearn.preprocessing import OneHotEncoder

In [37]:
encoder1 = OneHotEncoder(sparse=False,handle_unknown='ignore')
X = encoder1.fit_transform(train_data1[var_categorielle])

In [38]:
train_data1[target]=pd.get_dummies(train_data1[target],drop_first=True)
train_data1[target].head()

0    1
1    1
2    1
3    0
4    1
Name: Decision, dtype: uint8

In [39]:
y=train_data1[target]

# Naives Bayes

In [41]:

from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [42]:
# Diviser les données en ensemble d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=42)

In [43]:
# Entraînement du modèle de classification multinomiale Naive Bayes
clf = MultinomialNB()
clf.fit(X_train, y_train)

# Prédiction sur l'ensemble de test
y_pred = clf.predict(X_test)

In [44]:
# Calcul des scores de précision, rappel et F1
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
print('Accuracy score:', accuracy_score(y_test, y_pred))
print('Precision score:', precision_score(y_test, y_pred))
print('Recall score:', recall_score(y_test, y_pred))
print('F1 score:', f1_score(y_test, y_pred))

Accuracy score: 0.8300899769826323
Precision score: 0.951084215834594
Recall score: 0.8592255125284738
F1 score: 0.9028243178554333

In [45]:
clf.score(X_test,y_test)

0.8300899769826323

In [46]:
#encoder maintenant les variables de test

X2 = encoder1.transform(test_data1[var_categorielle])

In [66]:
y_pred_bac2021 = clf.predict(X2)

In [67]:
prob_admission_bac2021=clf.predict_proba(X2)

In [68]:
prob_admission_bac2021=prob_admission_bac2021[:,1]

In [70]:
len(X2)

15930

In [71]:
prob_admission_bac2021=pd.DataFrame(prob_admission_bac2021)
len(prob_admission_bac2021)
len(y_pred_bac2021)

15930

In [72]:
# Ajouter la prédiction en tant que colonne "Decision" dans le nouveau jeu de données
test_data1['Decision'] = y_pred_bac2021
# Ajouter la probabilité que la décision soit "Admis" dans le nouveau jeu de données
test_data1['prediction']=prob_admission_bac2021

In [73]:
test_data1.head()

,Unnamed: 0,Nom,"Serie,x",GroupeAnonymat,LieuNaissance,Centre,Etablissement,Willaya,moughataa,DateNaissance,ID,prediction,age,willaya,p0,p1_,p2_,Pauvreté,Decision
0,6,Mohamed Hama Ahmed Lely,SN,SN09,Vassala,Lycée Vassala,Lycée Vassala,Hod Charghy,BASSEKNOU,15 يوليو 2001,ID_6,0.998870,20,Hodh el Gharbi,42.325,13.225,5.775,20.441667,1
1,15,Fatimatou Mohamed Sid Abbe,SN,SN09,Vassala,Lycée Vassala,Lycée Vassala,Hod Charghy,BASSEKNOU,12 août 1999,ID_15,0.999485,22,Hodh el Gharbi,42.325,13.225,5.775,20.441667,1
2,18,El Alye Cheikh Ahmed Maihmatt,SN,SN09,Vassala,Lycée Vassala,Lycée Vassala,Hod Charghy,BASSEKNOU,18 sept. 1999,ID_18,0.999485,22,Hodh el Gharbi,42.325,13.225,5.775,20.441667,1
3,19,Haine Mohamed Lemin Telba,SN,SN09,Vassala,Lycée Vassala,Lycée Vassala,Hod Charghy,BASSEKNOU,24 août 1998,ID_19,0.999697,23,Hodh el Gharbi,42.325,13.225,5.775,20.441667,1
4,20,Aichata Sid'Ahmed Ahmed Ely,SN,SN09,El Megve,Lycée Vassala,Lycée Vassala,Hod Charghy,BASSEKNOU,31-mai-95,ID_20,0.999108,26,Hodh el Gharbi,42.325,13.225,5.775,20.441667,1

## regression logistique

In [74]:
# Prétraitement des variables catégorielles
cat_transformer2 = OneHotEncoder(handle_unknown='ignore')
cat_transformer2.fit(all_data1)

OneHotEncoder(handle_unknown='ignore')

In [75]:
# Encodage des variables catégorielles de l'ensemble d'entraînement
X_train_encoded1 = cat_transformer2.transform(train_data1[var_categorielle])

In [76]:
# Séparation des données en ensembles d'entraînement et de test encodés
X_test_encoded1 = cat_transformer2.transform(test_data1[var_categorielle])
y_train = train_data1[target]

In [78]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
model1 = LogisticRegression(max_iter=1000)

# Entraînement du modèle sur l'ensemble d'entraînement complet
model1.fit(X_train_encoded1, y_train)

LogisticRegression(max_iter=1000)

In [95]:
# Évaluation des performances du modèle en calculant l'exactitude (accuracy)
accuracy1= model1.score(X_train_encoded1, y_train)
print("Accuracy:", accuracy1)

Accuracy: 0.9237465472503558

In [98]:
from sklearn.model_selection import cross_val_score
# Validation croisée à 5 plis
scores = cross_val_score(model1, X_train_encoded1, y_train, cv=5, scoring='accuracy')

# Affichage des scores de chaque pli et du score moyen
print("Scores de chaque pli :", scores)
print("Score moyen :", scores.mean())

Scores de chaque pli : [0.91755597 0.91462649 0.27055869 0.43858548 0.91753872]
Score moyen : 0.6917730713002356

In [99]:
# Faire la prédiction sur le  jeu de données test
y_pred = model1.predict(X_test_encoded1)

In [100]:

# Ajouter la prédiction en tant que colonne "Decision" dans le nouveau jeu de données
test_data1['Decision'] = y_pred

In [101]:
df_sub1= pd.read_csv("C://Users//hp//AppData//Roaming//Microsoft\Windows\Start Menu//Programs//Anaconda3 (32-bit)//bac-mauritanie-2022-predictive-modeling-challeng//submission_template.csv")

In [102]:

# Ajouter la probabilité que la décision soit "Admis" dans le nouveau jeu de données
y_prob = model1.predict_proba(X_test_encoded1)
test_data1['prediction'] = y_prob[:,1]

In [103]:
df_sub1.head()

      Id  Predicted
0  ID_12        NaN
1  ID_14        NaN
2  ID_15        NaN
3  ID_22        NaN
4  ID_23        NaN

In [104]:
y_prob[:,1]

array([0.98324177, 0.98812665, 0.98812665, ..., 0.98056984, 0.99090434,
       0.9900511 ])

In [105]:
df_sub1["Predicted"]=test_data1['prediction']

In [106]:
df_sub1.Predicted.unique()

array([0.98324177, 0.98812665, 0.9925835 , ..., 0.98056984, 0.99090434,
       0.9900511 ])

In [107]:
df_sub1.to_csv('preduction_resulatbac2021.csv', index=False)